<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
    <tr>
        <td>
            <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
        </td>
    </tr> 
  <% } %>
<tr><td><br><a href="/quizes/search">Filtrar preguntas</a></td></tr>
<tr><td><%= textoFiltroEjs %></td></tr>
<tr><td><a href="/">Volver</a></td></tr>
</table>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
