<form method="get" action="/quizes">        
  Buscar: <p>
  <input type="text" id="inputSearch" name="search" placeholder="Filtro de busqueda"/>
  <div  id='marco'><div id="iframes" /></div>
<text id="textSearch" placeHolder="kk"/>
  <br><a href="/quizes">Volver</a> 
  <script>
    //var dt = new DateTime();
    $(function() {
    $("#inputSearch").focus();
    //$("#marco").text(dt.formats.pretty.b);
// make jQuery style call for DateTime traditional JS plugin
if (!$.jqDateTime) $.extend({ jqDateTime: function() { return new DateTime(arguments); } });
// use
$("#marco").text($.jqDateTime().formats.pretty.a);  });
  </script>
</form>


