<form method="get" action="/quizes">        
  Buscar: <p>
  <input type="text" name="search" placeholder="Filtro de busqueda"/>
  <input type="submit" value="Enviar">
  <br><a href="/quizes">Volver</a> 
</form>

