<form method="get" action="/quizes">        
  Filtro : 
  <input type="text" id="inputSearch" name="search" placeholder="Filtro de busqueda"/><br>
  <iframe id="iframeBusq" frameborder=0 src="/quizes/busquedas"> </iframe><br>
  <a href="/quizes">Volver</a> 
  <script>
    $(function() {
      // poner el foco en la caja de texto
      $("#inputSearch").focus();
      // ajax con resultados
      $('#inputSearch').bind('keyup', function() {
        $('#iframeBusq').attr("src", "/quizes/busquedas?search=" + $('#inputSearch').val());
        $('#iframeBusq').show();
      });
    });
  </script>
</form>


